<h4 class="font-weight-bold py-3 mb-4">
    Update Product
</h4>

<div class="row">
    <div class="col-8">
        <div class="card">
            <div class="card-body">
                <div class="cui-example">
                    <form>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label class="form-label">Product Name</label>
                                <input type="text" class="form-control" placeholder="Product Name" name="name" [(ngModel)]="productData.name">
                            </div>
                            <div class="form-group col-md-6">
                                <label class="form-label">Price</label>
                                <input type="text" class="form-control" placeholder="Price" name="price" [(ngModel)]="productData.price">
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label class="form-label">Quantity</label>
                                <input type="text" class="form-control" placeholder="Quantity" name="quantity" [(ngModel)]="productData.quantity">
                            </div>
                            <div class="form-group col-md-6">
                                <label class="form-label">Type</label>
                                <input type="text" class="form-control" placeholder="Type" name="type" [(ngModel)]="productData.type">
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label class="form-label">Status</label>
                                <input type="text" class="form-control" placeholder="Status" name="status" [(ngModel)]="productData.status">
                            </div>

                        </div>

                        <br>
                        <ng-multiselect-dropdown [placeholder]="'Select Product'" [data]="dropdownList" [(ngModel)]="selectedItems" [settings]="dropdownSettings" (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)" style="margin-bottom: 100px" name="muliselect"
                            (onDeSelect)="onItemDeSelect($event)">

                        </ng-multiselect-dropdown>
                        <br>
                        <div class="cui-example">
                            <label class="form-label">Select Image</label>
                            <label class="custom-file">
                <input type="file" (change)="onLoadImage($event)" class="custom-file-input">
                <span class="custom-file-label"></span>
              </label>
                        </div>
                        <br> <br>
                        <button type="button" (click)="onUpdateProduct()" class="btn btn-primary float-right">Update
              Product</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


</div>
