<h4 class="font-weight-bold py-3 mb-4">
  Question
</h4>
<div class="float-right" style="margin-top: -65px">
  <a routerLink="/survey/create" class="btn btn-outline-primary btn-rounded  btn-sm">
    Create Question <i class="fa fa-plus-square" aria-hidden="true" style="color: rgb(248, 244, 244)"></i>
  </a>
</div>

<div class="card">

  <table class="table card-table table table-hover">
    <thead class="thead-light">
    <tr>
      <th>#</th>
      <th>Question Name</th>
      <th>radio button</th>
      <th>Delete</th>
    </tr>
    </thead>
    <tbody>

    <tr  *ngFor="let a of all;index as i">
      <td>{{i+1}}</td>
      <td>{{a.statement | titlecase}}</td>
      <td id="b"><span *ngFor="let r of a.radios" >
        <span class="badge" id="badgee">{{r.statement}}</span>
        <span class="badge" id="badgee" *ngIf="r?.length <= 0">Null</span>
      </span></td>
      <td style="cursor: pointer" routerLink="/survey/delete/{{a.id}}">Delete</td>
    </tr>
    </tbody>
  </table>
</div>