<h4 class="font-weight-bold py-3 mb-4">
  Update Event
</h4>

<div class="row">
  <div class="col-8 offset-2">
    <div class="card">
      <div class="card-body">
        <div class="cui-example">
          <form>

            <div class="form-row">
              <div class="form-group col-md-12">
                <label class="form-label">Title</label>
                <input type="text" class="form-control" placeholder="Title" name="title"
                  [(ngModel)]="eventData.title">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-12">
                <label class="form-label">Descrioption</label>
                <input type="text" class="form-control" placeholder="Description" name="description"
                  [(ngModel)]="eventData.description">
              </div>
            </div>


            <button type="button" (click)="onUpdateevent()" class="btn btn-primary float-right">Update Event</button>
          </form>
        </div>
      </div>
    </div>
  </div>


</div>