#b{
    width:200px;
    height:auto
    }
    #badgee{
        background: rgb(245, 158, 58);
        border-radius:0px;
        font-size:11px;
        color: rgb(255, 255, 255);
        line-height: 10px;
        margin-right:2px;
        min-width: 170px;
    }